* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top_text, .menu {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.top_title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.top_header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.menu {
    display: flex;
    align-items: flex-end;
    gap: 34px;
}

.header_link {
    color: #000;
    font-size: 14px;
}

.top_main {
    margin-top: 84px;
    margin-bottom: 162px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 41px;
}

.top_info {
    width: 522px;
}

.top_title {
    margin-bottom: 17px;
    font-size: 60px;
}

.top_text {
    color: #888;
    font-size: 20px;
    width: 466px;
}

.footer {
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 23px;
}

.footer_text {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.about {
    background-image: linear-gradient(rgba(244, 244, 244, 0.70), rgba(244, 244, 244, 0.70)), url(img/bottom.png);
    background-color: rgba(244, 244, 244, 0.70);
    padding-top: 97px;
    padding-bottom: 126px;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    gap: 30px;
}

.quote_img {
    width: 396px;
    border-radius: 50%;
}

.quote_text {
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.my_text {
    width: 422px;
}

.sub_title {
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
}

.sub_text {
    color: #222224;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 167.2%;
    padding-bottom: 30px;
}
